@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Sistema desenvolvido por <a href="https://github.com/OpsAlex">Alex Bezerra</a>
</p>
<address>
    <strong> Mais informações: </strong> <a href="http://devsuperior.com.br"> devsuperior.com.br </a>
    <p>
        <a href="https://www.devmedia.com.br/introducao-ao-asp-net-mvc/31878"><strong> ASP .NET MVC </strong> </a>
</address>
